.input {
    width: 300px;
    height: 40px;
    line-height: 40px;
    box-sizing: border-box;
    margin: 0;
    font-variant: tabular-nums;
    font-feature-settings: 'tnum';
    // display: inline-block;
    padding: 0 11px;
    color: #fdfdfdd9;
    font-size: 14px;
    background-color: #009ef7;
    border: 0px solid #d9d9d9;
    border-radius: 6px;
    transition: all 0.3s;
    margin: 10px;
}