<div class="input">
  <z-keyboard
    [isInteger]="true"
    [isNegative]="false"
    entertext="Enter"
    placeholder="正数 整数"
    (ngModelChange)="onChange($event)"
  ></z-keyboard>
</div>
<div class="input">
  <z-keyboard
    [isInteger]="false"
    [isNegative]="false"
    entertext="Enter"
    placeholder="正数 小数"
    (ngModelChange)="onChange($event)"
  ></z-keyboard>
</div>
<div class="input">
  <z-keyboard
    [isInteger]="true"
    [isNegative]="true"
    entertext="Enter"
    placeholder="可负数 整数"
    (ngModelChange)="onChange($event)"
  ></z-keyboard>
</div>
<div class="input">
  <z-keyboard
    [isInteger]="false"
    [isNegative]="true"
    entertext="Enter"
    placeholder="可负数 小数"
    (ngModelChange)="onChange($event)"
  ></z-keyboard>
</div>
